<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Tamirat"] - RepairShopWebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/RepairShopWebApplication.styles.css" asp-append-version="true" />
	<link href="~/css/navbar.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="navbar" id="navbarlogo">
            <div class="logo">
                <a href="#">TAMİRAT</a>
            </div>
            <ul>
                <li><a href="#">Ana Sayfa</a></li>
                <li><a href="home\Yetkili_Giris" >Yetkili Giriş</a></li>
                <li><a href="#">İletişim</a></li>
            </ul>
        </div>
    </header>
    <div class="arkaplan">
    </div>
        <main role="main" class="pb-3">
                @RenderBody()
           
        </main>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
