@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/style.css" rel="stylesheet" />

<div class="center">
    <form action="">
        <h1>Tamirat Sitemize Hoşgeldiniz.</h1>
        <h2>Bozuldu ben tamir ederim deyip tamamen mi bozdunuz.</h2>
        <h2>Aferin</h2>
        <h2>Siz bozun biz yapalım!!</h2>
        <div class="buttons">
            <a href="arızakayıt.html" class="">
                <button>Arıza Bildir</button>
            </a>
            <a href="#" class=""></a>
            <button>Arıza Sorgula</button></a>
    </form>
</div>