<link href="~/css/yetkili.css" rel="stylesheet" />
<div class="wrapper">
    <form action="" class="">
        <h1>Giriş Yap</h1>
        <div class="input-box">
            <input type="text" placeholder="Kullanıcı Adı"
                   required>
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Şifre"
                   required>
            <i class='bx bxs-lock-alt'></i>
        </div>
        <div>
            <button type="submit" class="btn">Giriş</button>
        </div>
    </form>
</div>

